* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  background-color: #f2eae2;
  height: 667px;
  width: 375px;
  display: flex;
  padding: 28px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  width: 343px;
  height: 611px;
  background-color: #fff;
  flex-shrink: 0;
  border-radius: 10px;
}
.card__photo {
  width: 343.697px;
  flex-shrink: 0;
}
.perfume {
  color: #6c7289;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-feature-settings: "clig" off, "liga" off;
  font-weight: 500;
  letter-spacing: 5px;
  padding: 12px 24px 12px 24px;
}
.name {
  color: #1c232b;
  font-family: "Fraunces", serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  font-feature-settings: "clig" off, "liga" off;
  padding: 0 24px 16px 24px;
}
p {
  color: #6c7289;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 23px;
  padding: 0 24px 24px 24px;
}
.price {
  color: #3d8168;
  font-family: Fraunces;
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  padding-left: 24.5px;
  padding-bottom: 20px;
}
.old__price {
  color: #6c7289;
  font-family: "Montserrat";
  font-size: 13px;
  font-weight: 500;
  line-height: 23px;
  text-decoration: line-through;
  padding-left: 15px;
  padding-bottom: 24px;
}
.add__button {
  width: 295px;
  height: 40px;
  flex-shrink: 0;
  border-radius: 8px;
  background-color: #3d8168;
  /* padding: 0 23px 24px 25px; */
}
.button__text {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 700;
}
