h1 {
  color: blue;
  font-size: 4rem;
}
div {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
}
.werkan {
  color: red;
  font-size: 2rem;
}
/* 320-768 mobile; 768-1024 tablet; 1024 - i wyżej desktop;
metodologię zaczynamy od najmniejszych, metodologia - (screen): min/max
rozmiar */
/* body = card*/
/* @media (max-width: 768px) {
  body {
    display: flex;
  }
} */
body {
  display: flex;
}
/* div1+div2 zależne od wielkości*/
